*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.big{
    border: 2px solid rgb(136, 134, 177);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    margin-top: 30px;
    background-color: rgb(205, 253, 255);
}
/* form{
   
    width: 40%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(98, 62, 15); */
/* } */
input{
    height: 30px;
    width: 200px;
    padding-left: 10px;
    border: none;
    outline: none;
    border: 1px solid black;
}
input:focus{
    border: 1px dashed rgb(44, 41, 41);
    transition: 1s;
}
button{
    height: 35px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
}
#btn:hover{
    border: 1px dashed rgb(218, 83, 105);
    transition: 0.5ms;
    color: rgb(202, 102, 119);
}
p{
    font-size: 13px;
}